apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}
  labels:
    app: {{ .Release.Name }}
spec:
  replicas: 1
  template:
    metadata:
      name: {{ .Release.Name }}
      labels:
        app: {{ .Release.Name }}
    spec:
      enableServiceLinks: false
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      containers:
        - name: {{ .Release.Name }}
          image: {{ .Values.image.repository }}:{{ .Values.image.tag }}
          imagePullPolicy: {{ .Values.image.imagePullPolicy }}
          env:
            - name: TZ
              value: {{ .Values.timezone }}
          args:
            - --deployments={{ toString .Values.deployment }}
            - --statefulsets={{ toString .Values.statefulset}}
            - --daemonsets={{ toString .Values.daemonset }}
            - --kubeconfig=
          securityContext:
            capabilities:
              drop:
                - ALL
            runAsNonRoot: true
            runAsUser: 3000
            runAsGroup: 3000
      restartPolicy: Always
      serviceAccountName: {{ .Release.Name }}
  selector:
    matchLabels:
      app: {{ .Release.Name }}